<%- include ("partials/header") %>
<%- include ("partials/navbar") %>
<div class="container-fluid">
	<img class ="packages-header" src="https://i.pinimg.com/originals/d2/46/4b/d2464bc41fbf850d91a446dfb7abdf15.jpg">
</div>
	
	<div class="container-fluid vacation-container">	
	
		<div class="row vacation-row">
			<% Vacation.forEach((v) => { %>
			<div class="col-sm-6 col-md-4 col-lg-3">
				
				<div class="vacation-card">		
					
					<div class="vacation-header text"><%= v.title %> 
					
					</div>					
					
					<div class="vacation-image"><img src="<%= v.image %>" class="vacation-image " alt="Vacation Image"></div>
					
			    </div>
				
					<div class="vacation-price text">$ <%= v.price %> <a href="/cart"><i class="fas fa-shopping-cart"></i></a></div>
					<div class="vacation-desc text"><%= v.description %></div>
				
			</div>
			<% }); %>
		</div>
	
	</div>









<%- include ("partials/footer") %>